@using MediplusMVC.Models;
@model IEnumerable<Doctor>;
<a type="button" class="btn btn-success mb-3" asp-area="Admin" asp-controller="Doctor" asp-action="Create">Create Slider</a>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>



    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Finkod</th>
                        <th>PhoneNumber</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Appointments</th>
                        <th>IsActive</th>
                    </tr>
                </thead>
                <tfoot>
                    @foreach (Doctor item in @Model)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <th>@item.Name</th>
                            <th>@item.Surname</th>
                            <td>@item.Finkod</td>>
                            <td>@item.PhoneNumber</td>>
                            <th>@item.Email</th>
                            <td>@item.Username</td>>
                            <td>@item.Appointments</td>>
                            <td>@item.IsActive</td>>
                            <td><a class="btn btn-primary" asp-controller="Patient" asp-action="Update" asp-route-id="@item.Id" asp-area="Admin">Update</a></td>
                            <td><a class="btn btn-danger" asp-controller="Patient" asp-action="Delete" asp-route-id="@item.Id" asp-area="Admin">Delete</a></td>
                        </tr>
                    }

                </tfoot>


            </table>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
